// list by meeting
.card.recco-by-meeting
  .meeting-header
    text-align: center
    font-weight: 700
    font-size: 1.5rem
    text-transform: uppercase
    margin-bottom: 0.5rem

  .recco
    padding: 0.25rem 0
    .recco-layout-table
      min-height: 3rem
      width: 100%
      margin: 0.25rem 0
      cursor: pointer
      .recco-icon
        width: 2rem
        img
          width: 2rem
          height: 2rem
      .recco-text
        padding: 0 0.5rem
        .recommender
          font-style: italic
        .title
          text-transform: uppercase
      .recco-detail-cell
        width: 1rem

.recco-detail
  .title
    text-align: center
    font-weight: 700
    font-size: 1.5rem
    text-transform: uppercase
  .recco-description-layout
    width: 100%
    .back-btn
      width: 1.5rem
    .description
      padding: 0.25rem 0
      font-style: italic
      cursor: pointer
    .read-more
      padding: 0.25rem 0
      font-style: normal
  .recco-footer-layout
    width: calc(100% - 0.5rem)
    border-top: 0.1rem solid #000
    margin: 0.75rem 0.25rem 0 0.25rem
    padding-top: 0.75rem
    .byline
      text-align: left
    th
      width: 6.5rem
    td
      padding-left: 0.25rem
      font-size: 1.2rem
      font-weight: 700
    .tags
      a
        margin-right: 0.5rem
        display: inline-block
      a:last-child
        margin-right: 0

