<div class="card-scroll-wrapper">

  <!-- DEFAULT VIEW -->
  <div id="reccos-{{meeting.month.replace(' ', '-')}}"
    ng-show="!ctrl.recommender &amp;&amp; !ctrl.tag"
    class="card recco-list-card"
    ng-repeat="meeting in ctrl.meetingList">
    <div class="card-inner">
      <h1>{{meeting.month}}</h1>
      <div class="recco" ng-repeat="recco in meeting.reccos" ng-click="ctrl.gotoRecco(recco)">
        <ng-include src="'reccos/recco-list-element.html'"></ng-include>
      </div>
    </div>
  </div>

  <!-- RECOMMENDER VIEW -->
  <div class="card recco-list-card" ng-show="ctrl.recommender">
    <div class="card-inner">
      <h1>{{ctrl.recommender}}</h1>
      <div class="recco" ng-repeat="recco in ctrl.filterList">
        <ng-include src="'reccos/recco-list-element.html'"></ng-include>
      </div>
    </div>
  </div>

  <!-- TAG VIEW -->
  <div class="card recco-list-card" ng-show="ctrl.tag">
    <div class="card-inner">
      <h1><img ng-src="img/{{ctrl.tag}}.svg" onerror="this.src='./img/Misc.svg'" /> {{ctrl.tag}}</h1>
      <div class="recco" ng-repeat="recco in ctrl.filterList">
        <ng-include src="'reccos/recco-list-element.html'"></ng-include>
      </div>
    </div>
  </div>

</div>