// general card set-up
.card-list
  // padding-top: 3em // account for navbar

@media (orientation: portrait)
  .card-list
    width: 100%

@media (orientation: landscape)
  .card-list
    width: 50%
    margin-left: 50%

.card
  position: relative
  font-family: 'Old Standard'
  width: calc(100% - 1.5rem)
  margin: 0.75rem
  padding: 0.5rem
  background-color: rgba(255,255,255,0.95)
  box-shadow: 0 0.25rem 0.6rem 0 rgba(0, 0, 0, 0.18), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.15)

  .card-inner
    height: 100%
    width: 100%
    margin: 0
    padding: 0.5em
    border: 0.1em solid #000

// narrower padding for narrow screens
@media (max-width: 400px)
  .card
    width: calc(100% - 1rem)
    margin: 0.5rem


.card-scroll-spacer
  height: 2em
  background-color: transparent
@media (orientation: portrait)
  .card-scroll-spacer
    padding-bottom: 200%

// Carat card expansion links
a.expand-detail
  text-align: center
  color: #000
  text-decoration: none

a.expand-detail:focus
  outline: none

a.expand-detail:before
  content: '❯'
  font-size: 1.25em
  line-height: 1

a.expand-detail.back:before
  content: '❮'

// separators
.section-separator
  width: 95%
  text-align: center
  font-family: 'Bebas Neue'
  font-weight: 700
  margin: 1.5rem auto
  padding: 0.5rem
  border-top: 0.1rem solid #000
  border-bottom: 0.1rem solid #000


.divider
  border-bottom: 0.1rem solid #000
  margin: 1rem
