// Meeting cards: shared
.meeting-content
  position: relative
  margin: 0 0.5rem

  a.expand-detail
    display: block
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)

  .book-detail
    width: 5.5rem
    position: absolute
    right: 0
    top: calc(50% - 0.25rem)
    transform: translateY(-50%)

    img
      display: inline-block
      text-align: center
      vertical-align: middle
      height: 6rem


  .meeting-detail
    width: calc(100% - 7rem)
    min-height: 6rem

    .meeting-date
      font-weight: 700

    .meeting-title
      margin-top: 0.33rem
      font-style: italic

    .meeting-author
      margin-bottom: 0.33rem

    .meeting-time
      font-size: 0.7rem

    .meeting-location
      font-size: 0.7rem
      text-transform: uppercase
      font-weight: 700
    .meeting-location-detail
      font-size: 0.7rem
      text-transform: uppercase

  .divider
    padding: 1rem 0 0 0
    margin: 0 0.5rem 1rem 0

// Header card
.this-meeting
  margin-bottom: 3rem
  h1
    text-align: center
    font-weight: 700
    #line1
      font-family: 'Bebas Neue'
    #line2
      font-size: 3rem
    #line3
      font-size: 2.4rem
      font-style: italic

  .future-meeting
    position: relative
    margin: 0.5rem 0
    .meeting-detail
      width: calc(100% - 1rem)
      min-height: 2rem

  .past-meeting
    .meeting-content
      margin: 0.5rem 0.5rem
      padding-bottom: 0.5rem
      border-bottom: 0.1rem solid #000

  .past-meeting:last-child .meeting-content
    border-bottom: none

// MEETING DETAIL PAGE
.meeting-detail
  .title
    text-align: center
    font-weight: 700
    font-size: 1.5rem
    text-transform: uppercase
  .author
    font-size: 1.25rem
    font-style: italic
    text-align: center
    .by
      font-size: 0.75rem
      text-transform: uppercase
      font-style: normal

  .book-categories
    font-family: 'Bebas Neue'
    font-weight: 700
    color: #666
    display: block
    font-style: normal
    margin: 0 1rem

  .description-block
    width: 100%
    min-height: 10rem
    position: relative
    display: inline-block

    .book-description
      margin: 0 1rem 0 2.25rem
      font-style: italic
      min-height: 10rem
      position: relative

    .back-nav
      width: 2.5rem
      height: 10rem
      position: absolute
      top: 0
      left: 0
      a
        position: absolute
        display: block
        top: 5rem
        transform: translateY(-50%)
        left: 1rem

    .book-cover
      display: block
      float: right
      height: 10rem
      margin: 0 0 1rem 1rem

  .book-buy
    line-height: 1.5
    font-family: 'Bebas Neue'
    font-weight: 700
    padding-top: 0.5em
    text-align: center
    ul
      display: inline
      li
        display: inline
        margin: 0 0.5em
      li:last-child
        margin-right: 0
      a
        color: #003399
        text-decoration: underline


