<div class="card-list">
  <div class="card reco-detail">
    <div class="card-inner">
      <div class="title">{{ctrl.reco.title}}</div>
      <table class="reco-description-layout">
        <tr>
          <td class="back-btn" ng-click="ctrl.goBack($event)">
            <a class="expand-detail back" ng-click="ctrl.goBack($event)"></a>
          </td>
          <td class="description" ng-click="ctrl.goBack($event)">
            {{ctrl.reco.description}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="read-more" ng-show="ctrl.reco.url">
              <a ng-href="{{ctrl.reco.url}}" target="_blank">Read more</a>&hellip;
          </td>
        </tr>
      </table>
      <table class="reco-footer-layout">
        <tr>
          <th class="byline">meeting</th>
          <td class="date">
            <a ng-href="#/recos/month/{{ctrl.reco.month}}">{{ctrl.reco.month}}</a>
          </td>
        </tr>
        <tr>
          <th class="byline">recommender</th>
          <td class="recommender">
            <a ng-href="#/recos/recommender/{{ctrl.reco.recommender}}">{{ctrl.reco.recommender}}</a>
          </td>
        </tr>
        <tr>
          <th class="byline">filed under</th>
          <td class="tags">
            <a ng-href="#/recos/tag/{{t}}" ng-repeat="t in ctrl.reco.tags">{{t}}&#8203;</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>